@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --generalBackground: #0e0c17;
  --accent: #ed1d24;
  --sectionBackground: #1a1925;
}

body {
  background: var(--generalBackground) url('/img/bg-image.png') top center no-repeat;
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: larger;
  text-align: center;
  font-weight: 800;
}