@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --generalBackground: #0e0c17;
  --accent: #ed1d24;
  --yellow: #ddff00;
  --sectionBackground: #1a1925;
  --hoverBackground: #14131f;
  --disabled: #757575;
}

body {
  background: var(--generalBackground) url('/img/bg-image.png') top center no-repeat;
  color: white;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: larger;
  text-align: center;
  font-weight: 800;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: var(--disabled);
  color: #505050;
}